/* General */
body {
  font-family: 'Braah One', sans-serif;
  background-color: #F0F0F0;
  margin: 0;
}

h1 {
  color: #0A6847;
  text-align: center;
  margin-top: 20px;
}

#left-container,
#right-container {
  background-color: #eee;
  width: 15%;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 10px;
  overflow-y: auto; /* Agrega scroll si hay muchas plantas */
}

#left-container {
  left: 0;
}

#right-container {
  right: 0;
}

#terrarium {
  position: relative;
  width: 60%;
  height: 90%;
  margin: 2% auto;
  background-color: transparent;
  border: 2px dashed #0A6847;
  border-radius: 20px;
}

/* Diseño del frasco */
.jar-walls {
  height: 80%;
  width: 60%;
  background: #d1e1df;
  border-radius: 1rem;
  position: absolute;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}

.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}

.dirt {
  width: 60%;
  height: 5%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  bottom: 1%;
  left: 20%;
  opacity: 0.7;
  z-index: -1;
}

/* Estilo de las plantas */
.plant-holder {
  position: relative;
  height: 13%;
  margin-bottom: 10px; /* Espacio entre imágenes */
}

.plant {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  z-index: 2;
  cursor: grab;
}
